.sidebar_row {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar_row:hover {
  background-color: rgb(221, 214, 214);
  border-radius: 10px;
}

.sidebar_row > h4 {
  margin-left: 10px;
}

.sidebar_row > .MuiSvgIcon-root {
  font-size: xx-large;
  color: rgb(113, 113, 238);
}
